## IDE
**/*.idea

## Node
**/node_modules/*

## Binaries
**/bin/*

## JSONs default to ignore
**/*.json

## Allow node packages
!**/pacakge.json
!**/pacakge-lock.json

## Allow config
!**/push-config.json
## Allow examples
!**/example-service-account.json

